:root {
  --color-primary: #1c1c1c;
  --color-secundary: #313131;
  --color-white: #ffff;
  --color-green: #4caf50;
  --color-yellow: #f8bd00;
  --color-red: #e33629;
  --color-blue: #0059ff;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.calendar-container h3 {
  color: var(--color-white);
  font-size: 35px;
}

.calendar-container p {
  font-size: 15px;
  color: var(--color-white);
}

#calendar {
  width: 100%;
  height: 600px;
  margin: 2rem 0;
}

.fc .fc-toolbar-title {
  font-size: 1.2em;
  margin: 0px;
  color: white;
}

.fc .fc-scroller-harness {
  color: rgb(255, 255, 255);
}

.fc .fc-scroller-liquid-absolute {
  color: white;
}

.fc .fc-button-primary {
  background-color: var(--color-blue);
  border-color: none;
  color: var(--color-white);
  font-size: 12px;
}

.fc .fc-button-primary:disabled {
  background-color: #007fff;
  border-color: none;
  color: var(--color-white);
}

.fc-daygrid-day.fc-day-today {
  background-color: #313131 !important;
}

.selected-day {
  background-color: #0699fa !important;
  color: #fff !important;
  border-radius: 5px;
}

@media (max-width: 425px) {
  .calendar-container {
    padding: 1rem;
    margin: 0;
  }

  #calendar {
    height: 530px;
    margin: 2rem 0;
  }

  .fc table {
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 0.8em;
  }

  .calendar-container h3 {
    font-size: 25px;
  }

  .calendar-container p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .fc .fc-toolbar-title {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  .calendar-container {
    padding: 1rem;
  }

  #calendar {
    margin: 1rem 0;
  }
  .fc .fc-toolbar-title {
    font-size: 0.8em;
  }

  .fc .fc-button-primary {
    font-size: 10px;
  }
}
