:root {
  --color-primary: #1c1c1c;
  --color-secundary: #313131;
  --color-white: #ffff;
  --color-green: #4caf50;
  --color-yellow: #f8bd00;
  --color-red: #e33629;
  --color-blue: #0059ff;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.dashboard-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.dashboard-title h1 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 600;
}

.dashboard-title p {
  color: var(--color-white);
  font-size: 15px;
}

.dashboard-painels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

#habits-painels {
  width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 5px;
  color: var(--color-white);
}

#habits-painels h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

#habits-painels p {
  font-size: 1.5rem;
  font-weight: 500;
}

.habit-completed {
  background: var(--color-green);
}

.habit-to-completed {
  background: var(--color-yellow);
}

.habit-not-completed {
  background: var(--color-blue);
}

.table-habits {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.habits-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-btn button {
  background: transparent;
  border: solid 1px var(--color-white);
  color: var(--color-white);
  width: 100px;
  border-radius: 20px;
  padding: 0.2rem;
  margin: 0 0.5rem;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.filter-btn button:hover {
  background: var(--color-secundary);
}

.habits-list-container {
  scroll-behavior: smooth;
  background: var(--color-secundary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  max-height: 500px;
  padding: 1rem 2rem;
  margin: 2rem 0;
  gap: 1rem;
  border-radius: 10px;
  overflow-y: auto;
}

.habits-list-container::-webkit-scrollbar {
  width: 5px;
  background: var(--color-red);
}

.habits-list-container::-webkit-scrollbar-track {
  background: #555555;
}

.habits-list-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: solid 1px #313131;
  border-radius: 10px;
}

.habit-card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 0.3rem 0;
  width: 100%;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header .habit-config {
  background: none;
  border: none;
  color: var(--color-white);
}

.habit-config span {
  font-size: 25px;
}

.menu-container {
  position: relative;
}

.habit-menu {
  position: absolute;
  top: 100%;
  width: 80px;
  right: 0;
  background: var(--color-white);
  padding: 0.5rem;
  margin: 0;
  border-radius: 10px;
  z-index: 10;
}

.habit-menu.hidden {
  display: none;
}

.habit-menu li {
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.habit-menu li:hover {
  background-color: #505050;
  color: var(--color-white);
}

.card-header h3 {
  color: var(--color-white);
  font-weight: 400;
  margin: 0.2rem 0;
  padding: 0.2rem 0;
}

.tags {
  margin: 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoria {
  background-color: #5a5a5a;
  color: white;
  margin: 0 0.5rem;
}

.tags .tag-card {
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 15px;
  font-size: 10px;
  color: var(--color-white);
  padding: 0.2rem;
  margin-left: 0.5rem;
}

.tag-card.fácil {
  background-color: var(--color-green);
  color: #ffffff;
}

.tag-card.média {
  background-color: var(--color-blue);
  color: #ffffff;
}

.tag-card.difícil {
  background-color: var(--color-red);
  color: #fff;
  font-size: 12px;
}

.status-select {
  text-align: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  border: none;
  padding: 0.2rem 0.5rem;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.status-select.pendente {
  background-color: var(--color-yellow);
  color: #ffffff;
  font-size: 10px;
}

.status-select.emandamento {
  background-color: var(--color-blue);
  color: #ffffff;
  font-size: 10px;
}

.status-select.concluido {
  background-color: var(--color-green);
  color: #ffffff;
  font-size: 10px;
}

.date {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 12px;
  color: var(--color-white);
}

.date .material-symbols-outlined {
  font-size: 16px;
  margin: 0 0.1rem;
}

.date span .data-text {
  font-size: 12px;
}

.btn-add-habit {
  margin: 0 auto;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-add-habit:hover {
  background: var(--color-primary);
  color: var(--color-white);
  border: 1px solid #ffff;
}

.grafic-container {
  width: 100%;
  height: 500px;
  margin: 5rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grafic-container h3 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 600;
}

.grafic-container p {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 2rem;
}

#myChart {
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000093;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.modal {
  background: var(--color-secundary);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  color: var(--color-white);
}

.modal h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal input,
.modal select {
  padding: 0.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.buttons-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-modal button {
  width: 100%;
  padding: 0.3rem;
  border: none;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.buttons-modal button:hover {
  background: #7c7a7a;
  color: #ffffff;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  #nav-links {
    top: 60px;
  }

  #nav-links li a {
    margin: 0 1.2rem;
    width: 90%;
  }

  .dashboard-container {
    padding: 0 1rem;
  }

  .dashboard-painels {
    margin: 0;
    flex-wrap: nowrap;
  }

  #habits-painels {
    margin: 0.5rem 0.5rem;
  }
}

@media (max-width: 425px) {
  .main-container {
    padding: 0;
  }

  .header-container {
    padding: 0 1rem;
  }

  #avatar img {
    width: 40px;
    height: 40px;
  }

  .dashboard-container {
    padding: 0 1rem;
  }

  .dashboard-title {
    margin-bottom: 0.5rem;
  }

  .dashboard-painels {
    flex-direction: column;
  }
  .dashboard-title h1 {
    font-size: 20px;
  }
  .dashboard-title p {
    font-size: 12px;
  }
  #habits-painels {
    width: 100%;
    margin: 0.5rem 0;
  }

  #habits-painels h2 {
    font-size: 12px;
  }

  .filter-btn button {
    margin: 0 0.2rem;
    width: 80px;
    font-size: 12px;
  }

  .habits-list-container {
    padding: 1rem;
    margin: 1rem 0;
  }

  .habit-card {
    width: 100%;
    padding: 0.5rem;
  }

  .card-header h3 {
    font-size: 15px;
  }

  .tags .tag-card {
    width: 50px;
    border-radius: 15px;
    font-size: 8px;
  }

  .btn-add-habit {
    font-size: 10px;
  }

  .grafic-container {
    margin: 2rem 0;
  }

  .grafic-container h3 {
    font-size: 20px;
  }

  .grafic-container p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  #nav-container {
    width: 60%;
  }

  #habits-painels {
    width: 300px;
  }

  .dashboard-container {
    padding: 0;
  }

  .table-habits {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  .header-container {
    padding: 0 0.8rem;
  }

  #nav-links {
    top: 60px;
    padding: 0rem 0;
  }

  #nav-links li a {
    margin: 0;
    font-size: 13px;
  }

  #menu-icon span {
    font-size: 1.7rem;
  }
  #habits-painels {
    width: 250px;
  }

  #avatar img {
    width: 35px;
    height: 35px;
  }
}
